-
	var assets = [
		{
			id: 98983412,
			date: '12.08.2017',
			title: 'Автотранспорт, автомобильные краныАвтотранспорт, автомобильные краны',
			type: 'Автотранспорт, спецтехника и самоходные механизмы',
			desc: [
				{label: 'Количество единиц', value: '2'},
				{label: 'Тип', value: 'Спецтехника'},
				{label: 'Производитель', value: 'Россия'},
			],
			reason: 'Полностью в залоге Банка по обязательствам 1-го заемщика',
			price: '1 144 000',
			location: 'Иркутск'
		},
		{
			id: 98983363,
			date: '14.08.2017',
			title: 'Здание овощехранилищаЗдание овощехранилища',
			type: 'Овощехранилище / хладокомбинат',
			desc: [
				{label: 'Емкость, тыс. тн.', 	value: 'н/д'},
				{label: 'Площадь з/у, на котором расположен актив, кв.м.', 	value: '5 482.00'},
				{label: 'Общая площадь-GBA (без з/у), кв.м.', 	value: '672.00'}
			],
			reason: 'Полностью в залоге Банка по обязательствам 1-го заемщика',
			price: '8 000 000',
			location: 'г. Улан-Удэ п. Исток'
		},
		{
			id: 91583410,
			date: '22.01.2016',
			title: 'Здание с холодильными пристройкамиЗдание с холодильными пристройками',
			type: 'Здание/помещение под размещение производства',
			desc: [
				{ label: 'Год постройки / реконструкции', value: '1956' },
				{ label: 'Площадь з/у, на котором расположен актив, кв.м.', value: '4 300.00' },
				{ label: 'Общая площадь-GBA (без з/у), кв.м.', value: '420.10' },
			],
			reason: 'Полностью в залоге Банка по обязательствам 1-го заемщика',
			price: '1 730 000',
			location: 'г. Ангарск'
		},
		{
			id: 25983410,
			date: '02.02.2018',
			title: 'Нежилое здание под закусочную с земельным участкомНежилое здание под закусочную с земельным участком',
			type: 'Сооружения / легковозводимые конструкции',
			desc: [],
			reason: 'Полностью в залоге Банка по обязательствам 1-го заемщика',
			price: '1 380 000',
			location: 'Усть-Илимский район'
		},
		{
			id: 98453415,
			date: '24.11.2017',
			title: 'Нежилое помещение под офисыНежилое помещение под офисы',
			type: 'Офисный центр (здание)',
			desc: [
				{ label: 'Общая площадь-GBA (без з/у), кв.м.', value: '368.00' },
				{ label: 'Арендопригодная площадь - GLA (без з/у), кв.м.', value: '368.00' },
				{ label: 'Год постройки / реконструкции', value: '1971' },
			],
			reason: 'Полностью в залоге Банка по обязательствам 1-го заемщика',
			price: '500 000',
			location: 'Нижнеудинский район, с. Мельница'
		},
		{
			id: 99583404,
			date: '10.05.2017',
			title: 'Жилой домЖилой дом',
			type: 'Частный жилой дом / таунхаус',
			desc: [
				{ label: 'Жилая площадь, кв.м.', value: '457.60' },
				{ label: 'Количество этажей', value: '2' },
				{ label: 'Год постройки / реконструкции', value: '2000' },
			],
			reason: 'Полностью в залоге Банка по обязательствам 1-го заемщика',
			price: '5 790 000',
			location: 'Волгоградская область'
		},				
	]

mixin asset(index)
	-
		var asset = assets[index],
			src = `images/assets/asset-${index+1}.jpg`,
			alt = `asset-${index+1}`;
	.asset
		.asset__pic
			img(src=src, alt=alt, data-bg="true")
		.d-flex.align-items-center.justify-content-between.w-100.mb-1
			.asset__id ID #{asset.id}
			.asset__date #{asset.date}
		.asset__title #{asset.title}
		.asset__type #{asset.type}
		.asset__desc
			if asset.desc.length > 0
				each row in asset.desc
					div.mb-1
						span #{row.label}
						| — 
						span #{row.value}
		.asset__info
			.asset__reason #{asset.reason}
			.asset__price #{asset.price} ₽
			.asset__location #{asset.location}
